.results-list {
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  box-sizing: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin: 1rem;
  max-height: 300px;
  position: absolute;
  overflow-y: auto;
} 
