.App {
  background-color: #fff;
  min-height: 100vh;
  width: 100vw;
}

.logo-container {
  display: none;
  background-color: #b9b9b9;
  padding: 5px 10px;
}

.logo-img {
  width: 60px;
}

.header-title {
  display: grid;
  grid-template-columns: 80px auto;
  column-gap: 1rem;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  background-color: #fff;
  width: 100%;
  margin: 0;
  color: #fff;
}
.text-center {
  text-align: center;
}

.search-bar-container {
  padding: 30px 20vh;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
